body {
    font-family: tahoma;
    font-size: 12px;
  }
  
  
  header {
    background-color: #73C9EA;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    color: white;
  }
  
  
  section {
    display: -webkit-flex;
    display: flex;
  }
  
  
  nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #ccc;
    padding: 20px;
  }
  
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #f1f1f1;
    padding: 10px;
  }
  
  
  footer {
    background-color: #73C9EA;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  
  @media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }
  .flex-container {
      display: flex;
      flex-wrap: wrap;
     /* background-color: DodgerBlue;*/
    }
    
    .flex-container > div {
      background-color: #1BE6D5;
      height: 220px;
      width: 200px;
      margin: 10px;
      text-align: center;
      font-size: 13px;
     
    }
    .more{
      color:white;
      
    }
    .desc
    {
      font-size: 12px;
    }
    h1{
      color: red;
      text-align: center;
  
  }
  h2{
    color: green;
  }
  p{
    color: blue;
    font-weight: bold;
    font-style: italic;
}