@import './nav.css';
@import './footer.css';
@import './header.css';

body {
    font-family: tahoma;
    font-size: 12px;
  }
  
  
  
  section {
    display: -webkit-flex;
    display: flex;
  }
  
  
  article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #f1f1f1;
    padding: 10px;
  }
  
  
  @media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }
  .flex-container {
      display: flex;
      flex-wrap: wrap;
     /* background-color: DodgerBlue;*/
    }
    
    .flex-container > div {
      background-color: #9debee;
      height: 220px;
      width: 200px;
      margin: 10px;
      text-align: center;
      font-size: 13px;
     
    }
    .more{
      color:white;
      
    }
    .desc
    {
      font-size: 12px;
    }
  